#about-us img {
  max-width: 350px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 2%;
}

#about-us p {
  font-size: 18px;
  padding: 15px 25px 20px 20px;
  font-weight: 600;
}

.ignis-name {
  color: #dc2626;
  font-weight: 600;
  text-decoration: 2px underline #dc2626;
  text-underline-offset: 3px;
}

@media only screen and (max-width: 1000px) {
  #about-us .about-us-container .center-content {
    display: block;
  }

  #about-us p {
    font-size: 14px;
  }
}
