#contact-us {
    padding-bottom: 22px;
    padding-top: 14px;
}

#contact-us .h2-heading {
    margin-bottom: 20px;
}

#contact-us img {
    max-width: 400px;
    border-radius: 14px;
    margin-left: 100px;
    margin-bottom: 16px;
}

.form-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
    color: rgb(31 41 55);
}

.form-input {
    padding: .5rem;
    background-color: rgb(248, 250, 251);
    border-width: 1;
    border-radius: .5rem;
    border: 2px solid white;
}

input:focus {
    outline: none;
    border: 2px solid rgb(122, 136, 199);
}

.contact-us-form-container {
    width: 60%;
    display: grid;
    grid-column: 1;
    padding-left: 7rem;
    padding-right: 7rem;
}

.submit-btn {
    border: none;
    padding: 10px 25px;
    background-color: #dc2626;
    border-radius: .5rem;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    #contact-us .h2-heading {
        font-size: 23px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #contact-us img {
        max-width: 200px;
        border-radius: 14px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-us-form-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}