.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 7vw;
}

.address h3,
.contact h3 {
  font-size: 20px;
  padding: 0px 0px 16px 0px;
}

.contact ul li i {
  padding-right: 10px;
  font-size: 18px;
}

.contact ul li a,
.address p {
  font-size: 18px;
}

.address p,
.contact ul li {
  font-size: 18px;
}

.contact ul {
  list-style-type: none;
}

.contact a {
  text-decoration: none;
}

#logo-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

#logo-footer img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

#logo-footer h3 {
  font-size: 26px;
}

.footer-misc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 18px 0;
  background-color: rgba(0, 0, 0, 0.479);
  color: #fff;
}

#developer-contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

#developer-contact a {
  color: #fff;
}
