.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 21vw 1.5vw 19vw;
  background-color: rgba(0, 0, 0, 0.233);
}

.address h3,
.contact h3 {
  font-size: 20px;
  padding: 0px 0px 16px 0px;
  font-weight: 800;
}

.contact ul li i {
  padding-right: 10px;
  font-size: 18px;
}

.contact ul li a,
.address p {
  font-size: 18px;
}

.address p,
.contact ul li {
  font-size: 18px;
}

.contact ul li a {
  text-decoration: none;
  color: black;
}

.contact ul li a:hover {
  text-decoration: underline;
}

#logo-footer {
  display: flex;
  align-items: center;
}

#logo-footer img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

#logo-footer h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.footer-misc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 18px 0;
  background-color: rgba(0, 0, 0, 0.541);
  color: #fff;
}

#developer-contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

#developer-contact a {
  color: #fff;
}

@media only screen and (max-width: 1050px) {
  footer {
    text-align: center;
    padding-right: 50px;
  }

  .footer-main {
    display: block;
    padding: 15px 28px;
  }

  .footer-misc {
    display: block;
    padding: 20px 28px;
  }

  .contact {
    padding: 20px 0px;
  }

  #developer-contact {
    justify-content: center;
  }
}
