#header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 8vw 0 6vw;
}

.navbar span {
  display: none;
  font-size: 22px;
}

.nav-links {
  display: flex;
  gap: 2.5vw;
  padding-right: 16px;
}

.nav-links a {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo a {
  font-size: 18px;
  font-weight: 600;
}

.logo img {
  height: 52px;
  width: 52px;
  object-fit: cover;
}

@media only screen and (max-width: 750px) {
  div.nav-links {
    display: none;
  }

  section.navbar span {
    display: block;
  }

  #navbar-full {
    display: none;
  }
}

#navbar-full {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.932);
  backdrop-filter: blur(20px);
  padding: 150px 50px;
}

#navbar-full a {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

#navbar-full i {
  position: absolute;
  top: 3%;
  right: 7%;
  font-weight: 800;
  font-size: 26px;
}

#menu-btn {
  border: none;
  padding: 12px;
  background-color: white;
}

#menu-btn i {
  color: black;
  font-size: 18px;
  font-weight: 800;
}