#services img {
  max-height: 500px;
  object-fit: cover;
}

#services h2 {
  padding: 22px 0px;
}

.service-text {
  font-size: 18px;
}

.service-text h4 {
  padding: 10px 0px;
}

@media only screen and (max-width: 1050px) {
  #services img {
    max-height: 300px;
  }

  #services h2 {
    font-size: 1.3rem;
  }
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}
