#services img {
  max-width: 280px;
  object-fit: cover;
  border-radius: 2%;
}

#services .h2-heading {
  padding-top: 20px;
}

#services .service-content {
  padding-left: 20px;
}

#services h3 {
  padding-top: 30px;
  font-size: 22px;
}

#services p {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#services .service-content-padding {
  padding: 30px 45px;
}

.view-more {
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.service-content p {
  padding-right: 8px;
}

#temp-img {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #services .h2-heading {
    font-size: 23px;
  }

  #services img {
    max-width: 220px;
  }

  #services .services-container .center-content {
    display: block;
  }

  #default-img {
    display: none;
  }

  #temp-img {
    display: block;
  }

  #services p {
    margin-top: 15px;
    font-size: 16px;
  }

  #services h3 {
    font-size: 18px;
  }

  #services .service-content {
    padding-left: 10px;
  }

  .view-more {
    font-size: 14px;
  }
}
