@import url(/css/navbar.css);
@import url(/css/hero.css);
@import url(/css/footer.css);
@import url(/css/service.css);
@import url(/css/about-us.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

#loading-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-overlay .loader {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fff #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.center-content {
  display: flex;
  justify-content: center;
}

.items-center {
  align-items: center;
}

.h2-heading {
  display: block;
  font-size: 2.5em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.common-card {
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 8px;
  margin: 1.5vw 18vw 1.5vw 17vw;
}

@media only screen and (max-width: 1000px) {
  .common-card {
    margin: 5vw 5vw 5vw 5vw;
  }
}

.center-text {
  text-align: center;
}

ul {
  list-style-type: none;
}

.un {
  display: inline-block;
}

.un:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #dc2626;
  transition: 300ms;
}

.un:hover:after {
  width: 100%;
}
